body  {
  height: 100vh;
  margin:0;
  background: linear-gradient(180deg, #D2BE76 50%, rgb(218, 218, 216));
  overflow-x:hidden;
}

.light {
  height: 100vh;
  margin:0;
  background: linear-gradient(180deg, #D2BE76 50%, rgb(218, 218, 216));
  overflow-x:hidden;
}

.dark {
 
  background: linear-gradient(180deg, #333 70%, #000);
  color: #fff; }
.icon-light {
  color: #000; 
}

.icon-dark {
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
